body{
    background-color:lawngreen; 
}
#topnav {
  overflow: hidden;
  background-color:lawngreen;
}

#topnav a {
  float:right;
  display: block;
  color: green;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
}

#topnav a:hover {
  background-color: mediumvioletred;
  color: white;
}

#one{
      background-color:lawngreen;
        text-align: center;
}
